/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-link:hover {
    color: #1DB954;
    transition: color 0.3s ease-in;
}